In [1]:
from datascience import *
import numpy as np

import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
%matplotlib inline

In [3]:
top = Table.read_table('top_movies_2017.csv')
top = top.with_column('Row Index', np.arange(top.num_rows)).move_to_start('Row Index')
top.set_format(['Gross', 'Gross (Adjusted)'], NumberFormatter)

Row Index | Title                            | Studio          | Gross       | Gross (Adjusted) | Year
0         | Gone with the Wind               | MGM             | 198,676,459 | 1,796,176,700    | 1939
1         | Star Wars                        | Fox             | 460,998,007 | 1,583,483,200    | 1977
2         | The Sound of Music               | Fox             | 158,671,368 | 1,266,072,700    | 1965
3         | E.T.: The Extra-Terrestrial      | Universal       | 435,110,554 | 1,261,085,000    | 1982
4         | Titanic                          | Paramount       | 658,672,302 | 1,204,368,000    | 1997
5         | The Ten Commandments             | Paramount       | 65,500,000  | 1,164,590,000    | 1956
6         | Jaws                             | Universal       | 260,000,000 | 1,138,620,700    | 1975
7         | Doctor Zhivago                   | MGM             | 111,721,910 | 1,103,564,200    | 1965
8         | The Exorcist                     | Warner Brothers | 232,906,145 | 983,226,600      | 1973
9         | Snow White and the Seven Dwarves | Disney          | 184,925,486 | 969,010,000      | 1937
... (190 rows omitted)

In [4]:
top.take([3, 5, 7])

Row Index | Title                       | Studio    | Gross       | Gross (Adjusted) | Year
3         | E.T.: The Extra-Terrestrial | Universal | 435,110,554 | 1,261,085,000    | 1982
5         | The Ten Commandments        | Paramount | 65,500,000  | 1,164,590,000    | 1956
7         | Doctor Zhivago              | MGM       | 111,721,910 | 1,103,564,200    | 1965

In [5]:
top.where('Title', are.containing('and the'))

Row Index | Title                                       | Studio          | Gross       | Gross (Adjusted) | Year
9         | Snow White and the Seven Dwarves            | Disney          | 184,925,486 | 969,010,000      | 1937
35        | Butch Cassidy and the Sundance Kid          | Fox             | 102,308,889 | 627,259,300      | 1969
70        | Smokey and the Bandit                       | Universal       | 126,737,428 | 505,244,700      | 1977
71        | Beauty and the Beast (2017)                 | Buena Vista     | 504,014,165 | 504,014,165      | 2017
74        | Harry Potter and the Sorcerer's Stone       | Warner Brothers | 317,575,550 | 497,066,400      | 2001
75        | Lady and the Tramp                          | Disney          | 93,602,326  | 495,483,100      | 1955
91        | Indiana Jones and the Temple of Doom        | Paramount       | 179,870,271 | 475,906,700      | 1984
105       | Indiana Jones and the Last Crusade          | Paramount       | 197,171,806 | 439,312,600      | 1989
114       | Harry Potter and the Deathly Hallows Part 2 | Warner Brothers | 381,011,219 | 426,630,300      | 2011
129       | Beauty and the Beast                        | Buena Vista     | 218,967,620 | 403,283,400      | 1991
... (7 rows omitted)

In [6]:
start = np.random.choice(np.arange(10))
top.take(np.arange(start, start+5))

Row Index | Title                       | Studio    | Gross       | Gross (Adjusted) | Year
0         | Gone with the Wind          | MGM       | 198,676,459 | 1,796,176,700    | 1939
1         | Star Wars                   | Fox       | 460,998,007 | 1,583,483,200    | 1977
2         | The Sound of Music          | Fox       | 158,671,368 | 1,266,072,700    | 1965
3         | E.T.: The Extra-Terrestrial | Universal | 435,110,554 | 1,261,085,000    | 1982
4         | Titanic                     | Paramount | 658,672,302 | 1,204,368,000    | 1997

In [9]:
top.sample(500).group('Title')

Title                                 | count
101 Dalmatians                        | 4
2001: A Space Odyssey                 | 5
9 to 5                                | 2
Airport                               | 2
Aladdin                               | 1
Alice in Wonderland (2010)            | 2
American Graffiti                     | 1
An Officer and a Gentleman            | 1
Apollo 13                             | 4
Austin Powers: The Spy Who Shagged Me | 6
... (173 rows omitted)

In [10]:
top.sample(5, with_replacement=False)

Row Index | Title              | Studio          | Gross       | Gross (Adjusted) | Year
128       | Gremlins           | Warner Brothers | 153,083,102 | 404,336,400      | 1984
0         | Gone with the Wind | MGM             | 198,676,459 | 1,796,176,700    | 1939
18        | The Lion King      | Buena Vista     | 422,783,777 | 792,511,700      | 1994
191       | Signs              | Buena Vista     | 227,966,634 | 348,787,100      | 2002
14        | Avatar             | Fox             | 760,507,625 | 865,082,100      | 2009