In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Comparison and booleans values

In [2]:
x = 3
y = 4
x > y

False

In [3]:
10/2 != y

True

In [4]:
'Dog' > 'Cat'

True

In [5]:
'Dog' > 'Catastrophe' > 'Cat'

True

In [6]:
a = np.arange(11, 50)
a > 30

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [7]:
a == 15

array([False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [8]:
def teen(x):
    return 13 <= x <= 19

[teen(11), teen(15), teen(20)]

[False, True, False]

In [9]:
ages = Table().with_column(
    'Age', a
)
ages = ages.with_column(
    'Teenager', ages.apply(teen, 'Age')
)
ages

Age  | Teenager
11   | False
12   | False
13   | True
14   | True
15   | True
16   | True
17   | True
18   | True
19   | True
20   | False
... (29 rows omitted)

In [10]:
ages

Age  | Teenager
11   | False
12   | False
13   | True
14   | True
15   | True
16   | True
17   | True
18   | True
19   | True
20   | False
... (29 rows omitted)

In [11]:
ages.column(1)

array([False, False,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [12]:
sum(ages.column(1))

7

## Predicates

In [13]:
ages

Age  | Teenager
11   | False
12   | False
13   | True
14   | True
15   | True
16   | True
17   | True
18   | True
19   | True
20   | False
... (29 rows omitted)

In [14]:
still_young = are.between(35, 40)
ages.where('Age', still_young)

Age  | Teenager
35   | False
36   | False
37   | False
38   | False
39   | False

In [15]:
still_young(38)

True

In [16]:
still_young(40)

False

In [17]:
ages.apply(still_young, 'Age')

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False])

In [18]:
sum(ages.apply(still_young, 'Age'))

5

In [19]:
ages.where('Age', teen)

Age  | Teenager
13   | True
14   | True
15   | True
16   | True
17   | True
18   | True
19   | True

## Combining Bools

In [20]:
[x, y]

[3, 4]

In [21]:
x < 2 or y > 4

False

In [22]:
not(x < 2 or y > 4)

True

In [23]:
True + True

2

In [24]:
(3 > 2) + (2 > 1)

2

In [25]:
False + False + False

0

In [26]:
sum([False, True, True, False, True])

3