In [33]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

<br><br><br><br><br><br><br><br><br><br><br><br>

# Minard's survivor

An excercise to calculate the percentage of survivors during the Minard's conquest to Moscow in the year of 1812.

In [34]:
# Read table form URL
minard = Table.read_table('http://inferentialthinking.com/notebooks/minard.csv')
minard = minard.relabeled('City', 'City Name') # Relabeled the column
minard

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [35]:
# Remove the next columns from the table 'minard'
minard = minard.drop('Longitude', 'Latitude', 'Direction')
minard

City Name   | Survivors
Smolensk    | 145000
Dorogobouge | 140000
Chjat       | 127100
Moscou      | 100000
Wixma       | 55000
Smolensk    | 24000
Orscha      | 20000
Moiodexno   | 12000

In [36]:
# Get the initial size of 'Survivors'
initial_size = minard.column('Survivors').item(0) # First row
initial_size

145000

In [37]:
# Evaluate every row of the column 'Survivors' to get the 'Percentage Surviving'
percentage_surviving = minard.column('Survivors') / initial_size 

with_percentages = minard.with_column( # Add Column
    'Percent Surviving', percentage_surviving
)
# Set the format to percent of the column 'Percent Surviving'
with_percentages.set_format('Percent Surviving', PercentFormatter)

City Name   | Survivors | Percent Surviving
Smolensk    | 145000    | 100.00%
Dorogobouge | 140000    | 96.55%
Chjat       | 127100    | 87.66%
Moscou      | 100000    | 68.97%
Wixma       | 55000     | 37.93%
Smolensk    | 24000     | 16.55%
Orscha      | 20000     | 13.79%
Moiodexno   | 12000     | 8.28%

In [38]:
# Set the format to number of the column 'Percent Surviving'
with_percentages.set_format('Percent Surviving', NumberFormatter)

City Name   | Survivors | Percent Surviving
Smolensk    | 145000    | 1.00
Dorogobouge | 140000    | 0.97
Chjat       | 127100    | 0.88
Moscou      | 100000    | 0.69
Wixma       | 55000     | 0.38
Smolensk    | 24000     | 0.17
Orscha      | 20000     | 0.14
Moiodexno   | 12000     | 0.08