In [21]:
from datascience import*
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# NBA Salary

In [22]:
nba = Table.read_table('db/nba_salaries.csv')
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [23]:
# Which team expend more in its salary?, Cleveland Cavaliers.
teams_and_money = nba.select('TEAM', 'SALARY')
teams_and_money.group('TEAM', sum).sort(1, descending=True)

TEAM                  | SALARY sum
Cleveland Cavaliers   | 102.312
Oklahoma City Thunder | 96.8321
Golden State Warriors | 94.0852
Memphis Grizzlies     | 93.7965
Washington Wizards    | 90.0476
Houston Rockets       | 85.2858
San Antonio Spurs     | 84.6521
Charlotte Hornets     | 84.1024
Miami Heat            | 81.5286
New Orleans Pelicans  | 80.5146
... (20 rows omitted)

In [24]:
position_and_money = nba.select('POSITION', 'SALARY')
position_and_money.group('POSITION')

POSITION | count
C        | 69
PF       | 85
PG       | 85
SF       | 82
SG       | 96

In [25]:
position_and_money.group('POSITION', np.average)

POSITION | SALARY average
C        | 6.08291
PF       | 4.95135
PG       | 5.16549
SF       | 5.53268
SG       | 3.98819

In [26]:
# In which position expend more salary?, SF.
position_and_money.group('POSITION', sum).sort(1, descending=True)

POSITION | SALARY sum
SF       | 453.679
PG       | 439.066
PF       | 420.864
C        | 419.721
SG       | 382.867

In [27]:
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [28]:
nba.drop(0).group(['TEAM', 'POSITION'], np.average)

TEAM           | POSITION | SALARY average
Atlanta Hawks  | C        | 7.58542
Atlanta Hawks  | PF       | 11.0025
Atlanta Hawks  | PG       | 4.8817
Atlanta Hawks  | SF       | 3
Atlanta Hawks  | SG       | 1.80969
Boston Celtics | C        | 2.45047
Boston Celtics | PF       | 3.08548
Boston Celtics | PG       | 4.97465
Boston Celtics | SF       | 4.41716
Boston Celtics | SG       | 2.00755
... (137 rows omitted)

In [29]:
nba.drop(0, 2).group('POSITION', np.average)

POSITION | SALARY average
C        | 6.08291
PF       | 4.95135
PG       | 5.16549
SF       | 5.53268
SG       | 3.98819

## NBA: Salaries with group

In [30]:
starter_salaries = nba.drop(0).group(['TEAM', 'POSITION'], max)
starter_salaries

TEAM           | POSITION | SALARY max
Atlanta Hawks  | C        | 12
Atlanta Hawks  | PF       | 18.6717
Atlanta Hawks  | PG       | 8
Atlanta Hawks  | SF       | 4
Atlanta Hawks  | SG       | 5.74648
Boston Celtics | C        | 2.61698
Boston Celtics | PF       | 5
Boston Celtics | PG       | 7.73034
Boston Celtics | SF       | 6.79612
Boston Celtics | SG       | 3.42551
... (137 rows omitted)

In [31]:
starter_salaries.drop(1).group('TEAM', sum).sort(1, descending=True)

TEAM                  | SALARY max sum
Cleveland Cavaliers   | 82.3167
Oklahoma City Thunder | 70.6987
Miami Heat            | 67.1273
San Antonio Spurs     | 67.034
Golden State Warriors | 66.6432
Houston Rockets       | 61.2029
Chicago Bulls         | 57.8248
Los Angeles Lakers    | 55.8276
New York Knicks       | 55.0595
Memphis Grizzlies     | 53.5235
... (20 rows omitted)

In [32]:
nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [33]:
nba.drop(0).group(['TEAM', 'POSITION'], np.average)

TEAM           | POSITION | SALARY average
Atlanta Hawks  | C        | 7.58542
Atlanta Hawks  | PF       | 11.0025
Atlanta Hawks  | PG       | 4.8817
Atlanta Hawks  | SF       | 3
Atlanta Hawks  | SG       | 1.80969
Boston Celtics | C        | 2.45047
Boston Celtics | PF       | 3.08548
Boston Celtics | PG       | 4.97465
Boston Celtics | SF       | 4.41716
Boston Celtics | SG       | 2.00755
... (137 rows omitted)

In [34]:
nba.pivot('POSITION', 'TEAM', 'SALARY', np.average)

TEAM                  | C       | PF      | PG      | SF      | SG
Atlanta Hawks         | 7.58542 | 11.0025 | 4.8817  | 3       | 1.80969
Boston Celtics        | 2.45047 | 3.08548 | 4.97465 | 4.41716 | 2.00755
Brooklyn Nets         | 1.3629  | 4.45253 | 3.9     | 13.0403 | 1.74118
Charlotte Hornets     | 6.77224 | 4.68577 | 4.4853  | 3.76642 | 4.04238
Chicago Bulls         | 10.4244 | 3.46745 | 11.1715 | 1.95816 | 6.19446
Cleveland Cavaliers   | 7.75235 | 19.689  | 6.55159 | 22.9705 | 8.98876
Dallas Mavericks      | 3.23548 | 11.9135 | 4.41818 | 15.3615 | 1.21517
Denver Nuggets        | 2.61631 | 7.025   | 3.72362 | 7.19576 | 0.841949
Detroit Pistons       | 4.0907  | 0       | 13.913  | 1.71622 | 4.58088
Golden State Warriors | 6.54125 | 7.18637 | 8.45726 | 4.4967  | 9.0005
... (20 rows omitted)

## NBA Salaries with pivot

In [35]:
step_1 = nba.pivot('POSITION', 'TEAM', 'SALARY', max)
step_1

TEAM                  | C       | PF      | PG      | SF      | SG
Atlanta Hawks         | 12      | 18.6717 | 8       | 4       | 5.74648
Boston Celtics        | 2.61698 | 5       | 7.73034 | 6.79612 | 3.42551
Brooklyn Nets         | 1.3629  | 11.236  | 6.3     | 24.8949 | 3.42551
Charlotte Hornets     | 13.5    | 7       | 12      | 6.3314  | 13.1253
Chicago Bulls         | 13.4    | 5.54373 | 20.0931 | 2.38044 | 16.4075
Cleveland Cavaliers   | 14.2609 | 19.689  | 16.4075 | 22.9705 | 8.98876
Dallas Mavericks      | 5.2     | 15.4937 | 5.37897 | 15.3615 | 1.449
Denver Nuggets        | 5.6135  | 11.236  | 4.345   | 14      | 1.58448
Detroit Pistons       | 6.5     | 0       | 13.913  | 2.84196 | 6.27
Golden State Warriors | 13.8    | 14.2609 | 11.3708 | 11.7105 | 15.501
... (20 rows omitted)

In [36]:
totals = step_1.drop(0).apply(sum)
step_1.with_columns('TOTAL', totals).sort(6, descending=True)

TEAM                  | C       | PF      | PG      | SF      | SG      | TOTAL
Cleveland Cavaliers   | 14.2609 | 19.689  | 16.4075 | 22.9705 | 8.98876 | 82.3167
Oklahoma City Thunder | 16.4075 | 12.25   | 16.7442 | 20.1586 | 5.13843 | 70.6987
Miami Heat            | 0       | 22.1927 | 14.783  | 10.1516 | 20      | 67.1273
San Antonio Spurs     | 7.5     | 19.689  | 13.4375 | 16.4075 | 10      | 67.034
Golden State Warriors | 13.8    | 14.2609 | 11.3708 | 11.7105 | 15.501  | 66.6432
Houston Rockets       | 22.3594 | 2.48953 | 12.4045 | 8.19303 | 15.7564 | 61.2029
Chicago Bulls         | 13.4    | 5.54373 | 20.0931 | 2.38044 | 16.4075 | 57.8248
Los Angeles Lakers    | 15.5922 | 3.13224 | 5.10312 | 25      | 7       | 55.8276
New York Knicks       | 12.65   | 4.13172 | 7.40281 | 22.875  | 8       | 55.0595
Memphis Grizzlies     | 19.688  | 9.63856 | 9.58843 | 9.45    | 5.15854 | 53.5235
... (20 rows omitted)