# Astronomy experiment

In [1]:
# Modules

from datascience import *
import numpy as np
import math

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

#
# Constants –cte.–, & units of lenghts use in Astronomy/Astrophysics
#
astronomical_unit = 1.496 * 10**8 # km
au = astronomical_unit

gravity_constant = 6.67384 * 10**-11 # m**3 * kg**-1 * s**-2
g = gravity_constant

# lambda λ = 1 * 10**−9 # m**3

light_year = 9.4607 * 10**12 # km
ly = light_year

parsec = 3.261564 # ly
pc = parsec

speed_of_light = 299792458/1000 # km/s
c = speed_of_light

#
# Celestial objects
#
earth_mass = 5.9722 * 10**24 # kg
earth_radius = 6.371 * 10**6 # m
earth_dist_from_sun = au # km

mars_mass = 6.4171 * 10**23 # kg
mars_radius = 3389439 # m
mars_dist_from_sun = 2.29 * 10**8 # km

moon_mass = 7.34767309 * 10**22
moon_radius = 1.737 * 10**6 # m
moon_dist_from_sun = 3.8440 * 10**8 # m

solar_mass = 1.9885 * 10**30 # kg
m = solar_mass
solar_radius = 6.957 * 10**5 # m
r = solar_radius

In [2]:
(10*pc)*ly, "Trecientos ocho trillones, quinientos sesenta y seis billones, setecientos ochenta y cinco millones, trecientos cuarenta y ocho mill kilómetros para recorrer 10 pársecs"

(308566785348000.0,
 'Trecientos ocho trillones, quinientos sesenta y seis billones, setecientos ochenta y cinco millones, trecientos cuarenta y ocho mill kilómetros para recorrer 10 pársecs')

In [3]:
10*1/pc

3.06601372838307

In [4]:
str(pc*ly)+" = Treinta trillones ochocientos cincuenta y seis billones seiscientos setenta y ocho millones quinientos treinta y cuatro mil ochocientos kilómetros"

'30856678534800.0 = Treinta trillones ochocientos cincuenta y seis billones seiscientos setenta y ocho millones quinientos treinta y cuatro mil ochocientos kilómetros'

In [5]:
"1 pc : "+str(pc)+" años luz", "1 au : "+str(au)+" kilómetros"

('1 pc : 3.261564 años luz', '1 au : 149600000.0 kilómetros')

In [6]:
str((pc*ly)/au)+" kilómetros, unidades astronómicas o número repetido de veces de la distancia de la tierra al sol para recorrer un pársec"

'206261.22015240643 kilómetros, unidades astronómicas o número repetido de veces de la distancia de la tierra al sol para recorrer un pársec'

In [7]:
m = (1/2) * (gravity_constant * (moon_mass/moon_radius**2)) * (1.2**2) 
print((1/2),(gravity_constant * (moon_mass/moon_radius**2)), (1.2**2))
print((1/2)*(gravity_constant * (moon_mass/moon_radius**2)), (1.2**2) )

0.5 1.6252717224313786 1.44
0.8126358612156893 1.44

In [8]:
time = math.sqrt(m/((1/2)*(gravity_constant * (moon_mass/moon_radius**2))))
time, "seconds"

(1.2, 'seconds')

In [9]:
def calculateTimeFallingPlanets(height_cm):
        earth_time = math.sqrt(height_cm/((1/2)*(gravity_constant * (earth_mass/earth_radius**2))))
        moon_time = math.sqrt(height_cm/((1/2)*(gravity_constant * (moon_mass/moon_radius**2))))
        mars_time = math.sqrt(height_cm/((1/2)*(gravity_constant * (mars_mass/mars_radius**2))))
        print("In Earth : " + str(earth_time) +  "s")
        print("In Moon : " + str(moon_time) +  "s")
        print("In Mars : " + str(mars_time) +  "s")

print("Time falling object in planets")
print()
calculateTimeFallingPlanets(m)
print()
calculateTimeFallingPlanets(1.72)

Time falling object in planets

In Earth : 0.48819887454624017s
In Moon : 1.2s
In Mars : 0.792345798044477s

In Earth : 0.5918774028979232s
In Moon : 1.4548433446055307s
In Mars : 0.960615842425971s

# Ecuaciones

In [10]:
def acceleration_gravity(mass_kg, radius_m):
    """Equation to get the force between two bodies"""
    force = gravity_constant * (mass_kg/radius_m**2)
    return force

def get_force_between(mass_1_kg, mass_2_kg, radius_m):
    """Equation to get the force between two bodies"""
    force = gravity_constant * (mass_1_kg * mass_2_kg/radius_m**2)
    #return str(force)
    return force

def get_energy(mass_kg):
    """Equation to get the energy of a mass in joules."""
    energy = mass_kg * speed_of_light**2
    return str(energy) + ' Joules: J: m·N: kg·m2/s2: C·V: W·s '

def dynamic_cluster_galaxy():
    """ A galaxy member from a cluster strikes in a velocity and time"""
    trc = r/v - 6 * 10**8 * (r/mpc) / (vr/10**3)
    
def parsecs_to_ly(parsecs):
    """Convert parsec to light_years (ly)"""
    return parsecs * pc # light-years

def period_pendulum(length, acceleration_gravity):
    """Calculate the period of a simple pendulum"""
    period = 2 * np.pi * math.sqrt(length / acceleration_gravity)
    return period # seconds

def distance_modulus(app_mag, abs_mag): # Distance modulus
    """ Calculate the distance modulus: m-M=5log*d-5 """
    log = (app_mag - abs_mag + 5) / 5
    dist = 10**log
    return dist # parsecs

# Tabla Módulo distancia

In [11]:
# Read table from star catalog database www.astronexus.com/hyg
hygdata_v3 = Table.read_table('db/hygdata_v3.csv')

hygdata_v3.show(5)

In [12]:
dist_modulus = hygdata_v3.select('id', 'proper', 'mag', 'absmag', 
                                 'dist', 'ra', 'dec', 'x', 'y', 'z'
                                )
without_nan = dist_modulus.where('proper', are.not_equal_to('nan')).sort('dist', descending=False)
#without_nan.where('mag', are.below_or_equal_to(1.00)).show()
without_nan

# without_nan.to_csv('export.csv')

id     | proper           | mag   | absmag | dist   | ra      | dec      | x         | y         | z
0      | Sol              | -26.7 | 4.85   | 0      | 0       | 0        | 5e-06     | 0         | 0
70666  | Proxima Centauri | 11.01 | 15.447 | 1.2959 | 14.496  | -62.6795 | -0.472264 | -0.361451 | -1.15122
71456  | Rigil Kentaurus  | -0.01 | 4.379  | 1.3248 | 14.6608 | -60.834  | -0.495203 | -0.414084 | -1.15663
87665  | Barnard's Star   | 9.54  | 13.235 | 1.8238 | 17.9635 | 4.69339  | -0.017373 | -1.81661  | 0.149123
53879  | Lalande 21185    | 7.49  | 10.46  | 2.5469 | 11.0556 | 35.9699  | -1.998    | 0.504305  | 1.4955
32263  | Sirius           | -1.44 | 1.454  | 2.6371 | 6.75248 | -16.7161 | -0.494323 | 2.47673   | -0.758485
113687 | Lacaille 9352    | 7.35  | 9.773  | 3.2759 | 23.0975 | -35.8531 | 2.58153   | -0.621353 | -1.91877
37173  | Procyon          | 0.4   | 2.671  | 3.5142 | 7.65503 | 5.22499  | -1.46931  | 3.17617   | 0.320024
36107  | Luyten's Star    | 9.84  | 11.94  | 3.8026 | 7.45681 | 5.22579  | -1.40955  | 3.51486   | 0.346358
24129  | Kapteyn's Star   | 8.86  | 10.898 | 3.9114 | 5.19417 | -45.0184 | 0.578997  | 2.70517   | -2.76822
... (136 rows omitted)

In [13]:
# Assignment 1
# Comparing brightness

In [14]:
print("Un parsec es:", parsec, "años luz")
print("Un año luz es:", ly, "kilometros")
print("La velocidad de la luz es: ", c, "km/s")

Un parsec es: 3.261564 años luz
Un año luz es: 9460700000000.0 kilometros
La velocidad de la luz es:  299792.458 km/s

In [15]:
altair = without_nan.where("proper", are.equal_to('Altair')).select('proper', 'mag', 'absmag', 'dist')
mag = altair.column('mag')[0]
absmag = altair.column('absmag')[0]
altair

proper | mag  | absmag | dist
Altair | 0.76 | 2.21   | 5.1295

In [16]:
vega = without_nan.where("proper", are.equal_to('Vega')).select('proper', 'mag', 'absmag', 'dist')
vega

proper | mag  | absmag | dist
Vega   | 0.03 | 0.604  | 7.6787

In [17]:
without_nan.where("proper", are.equal_to('Deneb')).select('proper', 'mag', 'absmag', 'dist')

proper | mag  | absmag | dist
Deneb  | 1.25 | -6.932 | 432.9

In [18]:
without_nan.where("proper", are.equal_to('Spica')).select('proper', 'mag', 'absmag', 'dist')

proper | mag  | absmag | dist
Spica  | 0.98 | -3.44  | 76.5697

In [19]:
without_nan.where("proper", are.equal_to('Arcturus')).select('proper', 'mag', 'absmag', 'dist')

proper   | mag   | absmag | dist
Arcturus | -0.05 | -0.307 | 11.2575

In [26]:
without_nan.where("proper", are.equal_to('Alpha Centauri')).select('proper', 'mag', 'absmag', 'dist')

proper | mag  | absmag | dist

In [20]:
distance_modulus(mag, absmag)

5.1286138399136485

# Tabla Relación masa-luminosidad de cúmulos ricos
Nota.- La incertidumbre en el valor de ' ' afecta a la masa del cúmulo, como mucho, en un factor 2. Se adpota para H el valor de 50 km · s-1 · Mpc-1.

In [21]:
mass_luminosity = Table().with_columns(
    'Radius (Mpc)', make_array(3.0, 3.0, 3.0, 4.0, 1.2, 4.0),
    'Object', make_array('A 194', 'Ursa Major I', 'A 2199', 'Coma (A 1656)', 'Virgo', 'Corona Boreal'),
    'Mass', make_array(2.9 * 10**15, 1.9 * 10**15, 4.3 * 10**14, 1.7 * 10**15, 2.4 * 10**14, 2.9 * 10**15),
    'Luminosity', make_array(3.8 * 10**12, 2.7 * 10**12, 6.1 * 10**12, 1.2 * 10**13, 1.3 * 10**12, 1.2 * 10**13),
    'M/L', make_array(64, 70, 71, 144, 181, 231)
)
mass_luminosity

Radius (Mpc) | Object        | Mass    | Luminosity | M/L
3            | A 194         | 2.9e+15 | 3.8e+12    | 64
3            | Ursa Major I  | 1.9e+15 | 2.7e+12    | 70
3            | A 2199        | 4.3e+14 | 6.1e+12    | 71
4            | Coma (A 1656) | 1.7e+15 | 1.2e+13    | 144
1.2          | Virgo         | 2.4e+14 | 1.3e+12    | 181
4            | Corona Boreal | 2.9e+15 | 1.2e+13    | 231

# Tabla Supercúmulos mejor estudiados

In [22]:
members = make_array('Grupo Local-Virgo', 'A 1376, A 1656, Grupo de NGC 5056', 
    'A 347, A 262, A 426, A 196, Grupo NGC 383, Grupo de NGC 507, Grupo de Uppsala 487',
    'A 2151, A 2199, A 2187, A 2052, A 2063, A 2146', 'A 2065', ' '
    )
diameter = make_array('75 Mpc', '160 Mpc', '75 Mpc', '143 Mpc', '360 Mpc', '80 Mpc')
superclusters = Table().with_columns(
    ' ', make_array('Supercúmulo Local', 'Coma', 'Perseus', 
                    'Hércules', 'Corona Borealis', 'Ursa Major'),
    'Members', members,
    'Diameter', diameter
)
superclusters

                  | Members                                                      | Diameter
Supercúmulo Local | Grupo Local-Virgo                                            | 75 Mpc
Coma              | A 1376, A 1656, Grupo de NGC 5056                            | 160 Mpc
Perseus           | A 347, A 262, A 426, A 196, Grupo NGC 383, Grupo de NGC  ... | 75 Mpc
Hércules          | A 2151, A 2199, A 2187, A 2052, A 2063, A 2146               | 143 Mpc
Corona Borealis   | A 2065                                                       | 360 Mpc
Ursa Major        |                                                              | 80 Mpc

# Tabla Aceleración gravitacional

In [23]:
planets = make_array('Sun', 'Mercury', ' Venus', 'Earth', 'Moon', 
                   'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'
)
sun_ag = acceleration_gravity(solar_mass, solar_radius)
#mercury_ag = acceleration_gravity(mercury_mass, mercury_radius)
#venus_ag = acceleration_gravity(venus_mass, venus_radius)
earth_ag = acceleration_gravity(earth_mass, earth_radius)
moon_ag = acceleration_gravity(moon_mass, moon_radius)
mars_ag = acceleration_gravity(mars_mass, mars_radius)
#jupiter_ag = acceleration_gravity(jupiter_mass, jupiter_radius)
#saturn_ag = acceleration_gravity(saturn_mass, saturn_radius)
#uranus_ag = acceleration_gravity(uranus_mass, uranus_radius)
#neptune_ag = acceleration_gravity(neptune_mass, neptune_radius)
#pluto_ag = acceleration_gravity(pluto_mass, pluto_radius)

acceleration = make_array(sun_ag, 0, 0, earth_ag, moon_ag, mars_ag, 0, 0, 0, 0, 0)

solar_system_ag = Table().with_columns(
    'Object', planets,
    'Aceleration gravity (netwons)', acceleration
)
solar_system_ag

Object  | Aceleration gravity (netwons)
Sun     | 2.74194e+08
Mercury | 0
 Venus  | 0
Earth   | 9.81963
Moon    | 1.62527
Mars    | 3.72785
Jupiter | 0
Saturn  | 0
Uranus  | 0
Neptune | 0
... (1 rows omitted)

In [24]:
cloud_oort_ag = sum(solar_system_ag.column(1))
cloud_oort_ag

274193656.5620048

# Calculate Star's Modulus distance

In [25]:
a = without_nan.where('proper', are.equal_to('Sirius'))
sirus_dist = modulus_distance(a.column(2), a.column(3))#.item(0)
print('The distance to Sirius in parsecs is:', sirus_dist, 
      'or', parsecs_to_ly(sirus_dist), 'light-years.')

NameError: name 'modulus_distance' is not defined

In [ ]:
a = without_nan.where('proper', are.equal_to('Proxima Centauri'))
proxima_centauri_dist = modulus_distance(a.column(2), a.column(3))#.item(0)
print('The distance to Proxima Centauri in parsecs is:', proxima_centauri_dist, 
      'or', parsecs_to_ly(proxima_centauri_dist), 'light-years.')

# Calculate Proxima Centauri

In [ ]:
# mass
proxima_centauri_mass = (solar_mass * 12.2 / 100) + solar_mass
# radius
proxima_centauri_radius = (solar_radius * 15.4 / 100) + solar_radius
proxima_centauri_mass, solar_mass, proxima_centauri_radius, solar_radius

In [ ]:
# Gravity force
get_force_between(proxima_centauri_mass, solar_mass, float(proxima_centauri_dist))

# Calculate Sun's energy

In [ ]:
print("Sun's energy: " + get_energy(solar_mass))
print("Which strikes Earth's face each second: 1.7 * 10**17 J. with 8 minutes of delay.")

# Convert parsecs to light-years

In [ ]:
print('1 parsec =', pc, 'light-years')
print('1 light-year =', light_year, 'kilometers')
print()
print(10, 'parsecs = ', parsecs_to_ly(10), 'light-years')

# Calculate Period's simple pendulum

In [ ]:
lenght = 0.58
earth_ag = acceleration_gravity(earth_mass, earth_radius)

period_pendulum(lenght, earth_ag), 'seconds'

# Documental The beginning and end of universe

In [ ]:
time = 1.2
estimated_distance_m = 1.13
predicted_distance_m = (1/2) * (gravity_constant * (moon_mass/moon_radius**2)) * (time**2)
difference = predicted_distance_m - estimated_distance_m
print('Estimated distance:', estimated_distance_m)
print('Predicted distance:', predicted_distance_m)
print('Difference:', difference)