In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Convert values

In [2]:
# Convert to string
str(2.3)

'2.3'

In [3]:
# Convert to a int when is a float
int('2.3')

ValueError: invalid literal for int() with base 10: '2.3'

In [4]:
# Convert to a float
float('2.3')

2.3

In [5]:
int('23') + float('2.3')

25.3

In [6]:
x = 12
int(str(x) + '0')

120

In [7]:
a = make_array(1, 2, 3)
a + make_array(10, 100, 1000)

array([  11,  102, 1003])

## sum

In [8]:
sum(a)

6

## max

In [9]:
# the built-in `max` function returns the maximum argument passed to it.
max(a)

3

## min

In [10]:
min(a)

1

## abs

In [11]:
# the `abs` function takes a single number as its argument and returns the absolute value of that number
height = 1.3
abs(height - 1.688)

0.3879999999999999