In [2]:
from datascience import *
import numpy as np
import math

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Star Mapper

In [13]:
# Speed of light
speed_of_light = 299792458 # m/s
c = speed_of_light
# Light year
light_year = 9.4607 * 10**12 # m
ly = light_year
# Parsec
parsec = 3.261564 # ly
pc = parsec

In [14]:
def distance_modulus(app_mag, abs_mag): # Distance modulus
    """ Calculate the distance modulus: m - M = 5log * d - 5 """
    log = (app_mag - abs_mag + 5) / 5
    dist = 10**log
    return dist # parsecs

## Cuadro o tabla del módulo distancia

In [15]:
# Read table from star catalog database www.astronexus.com/hyg
hygdata_v3 = Table.read_table('db/hygdata_v3.csv')
hygdata_v3.show(5)

In [16]:
dist_modulus = hygdata_v3.select('id', 'proper', 'mag', 'absmag', 'dist', 'ra', 'dec', 'x', 'y', 'z')

without_nan = dist_modulus.where('proper', are.not_equal_to('nan')).sort('dist', descending=False)
#without_nan.where('mag', are.below_or_equal_to(1.00)).show()
without_nan

# without_nan.to_csv('export.csv')

id     | proper           | mag   | absmag | dist   | ra      | dec      | x         | y         | z
0      | Sol              | -26.7 | 4.85   | 0      | 0       | 0        | 5e-06     | 0         | 0
70666  | Proxima Centauri | 11.01 | 15.447 | 1.2959 | 14.496  | -62.6795 | -0.472264 | -0.361451 | -1.15122
71456  | Rigil Kentaurus  | -0.01 | 4.379  | 1.3248 | 14.6608 | -60.834  | -0.495203 | -0.414084 | -1.15663
87665  | Barnard's Star   | 9.54  | 13.235 | 1.8238 | 17.9635 | 4.69339  | -0.017373 | -1.81661  | 0.149123
53879  | Lalande 21185    | 7.49  | 10.46  | 2.5469 | 11.0556 | 35.9699  | -1.998    | 0.504305  | 1.4955
32263  | Sirius           | -1.44 | 1.454  | 2.6371 | 6.75248 | -16.7161 | -0.494323 | 2.47673   | -0.758485
113687 | Lacaille 9352    | 7.35  | 9.773  | 3.2759 | 23.0975 | -35.8531 | 2.58153   | -0.621353 | -1.91877
37173  | Procyon          | 0.4   | 2.671  | 3.5142 | 7.65503 | 5.22499  | -1.46931  | 3.17617   | 0.320024
36107  | Luyten's Star    | 9.84  | 11.94  | 3.8026 | 7.45681 | 5.22579  | -1.40955  | 3.51486   | 0.346358
24129  | Kapteyn's Star   | 8.86  | 10.898 | 3.9114 | 5.19417 | -45.0184 | 0.578997  | 2.70517   | -2.76822
... (136 rows omitted)

In [17]:
print("Un parsec son:", parsec, "años luz")
print("Un año luz son:", ly, "kilometros")
print("La velocidad de la luz es de: ", c, "km/s")

Un parsec es: 3.261564 años luz
Un año luz es: 9460700000000.0 kilometros
La velocidad de la luz es:  299792458 km/s

In [7]:
altair = without_nan.where("proper", are.equal_to('Altair')).select('proper', 'mag', 'absmag', 'dist')
mag = altair.column('mag')[0]
absmag = altair.column('absmag')[0]
altair

proper | mag  | absmag | dist
Altair | 0.76 | 2.21   | 5.1295

In [8]:
vega = without_nan.where("proper", are.equal_to('Vega')).select('proper', 'mag', 'absmag', 'dist')
vega

proper | mag  | absmag | dist
Vega   | 0.03 | 0.604  | 7.6787

In [9]:
without_nan.where("proper", are.equal_to('Deneb')).select('proper', 'mag', 'absmag', 'dist')

proper | mag  | absmag | dist
Deneb  | 1.25 | -6.932 | 432.9

In [10]:
without_nan.where("proper", are.equal_to('Spica')).select('proper', 'mag', 'absmag', 'dist')

proper | mag  | absmag | dist
Spica  | 0.98 | -3.44  | 76.5697

In [11]:
without_nan.where("proper", are.equal_to('Arcturus')).select('proper', 'mag', 'absmag', 'dist')

proper   | mag   | absmag | dist
Arcturus | -0.05 | -0.307 | 11.2575

In [12]:
distance_modulus(mag, absmag)

5.1286138399136485