In [39]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

<br><br><br><br><br><br><br><br><br><br><br><br>

# Strings

In [40]:
'I love tennis'

'I love tennis'

In [41]:
'2.3'

'2.3'

In [42]:
'2.3' + 4

TypeError: must be str, not int

In [43]:
'2.3' * 4

'2.32.32.32.3'

In [44]:
## Plus a string

In [45]:
'be' + ' ' + 'happy'

'be happy'

In [46]:
"That's " + str(1 + 1) + ' ' + str(True)

"That's 2 True"

## upper

In [47]:
"loud".upper()

'LOUD'

## replace

In [48]:
'hitchhiker'.replace('hi', 'ma')

'matchmaker'

In [49]:
s = 'train'
t = s.replace('t', 'ing')
u = t.replace('in', 'de')
u

'degrade'

## title

In [50]:
'unIverSITy of caliFORnia'.title()

'University Of California'

## len

In [51]:
a_very_long_sentence = "The representatives of the French people, organized as a National Assembly, believing that the ignorance, neglect, or contempt of the rights of man are the sole cause of public calamities and of the corruption of governments, have determined to set forth in a solemn declaration the natural, unalienable, and sacred rights of man, in order that this declaration, being constantly before all the members of the Social body, shall remind them continually of their rights and duties; in order that the acts of the legislative power, as well as those of the executive power, may be compared at any moment with the objects and purposes of all political institutions and may thus be more respected, and, lastly, in order that the grievances of the citizens, based hereafter upon simple and incontestable principles, shall tend to the maintenance of the constitution and redound to the happiness of all."
sentence_length = len(a_very_long_sentence)
sentence_length

896

## join

In [52]:
'-'.join(make_array('a', 'b', 'c', 'd'))

'a-b-c-d'

In [54]:
hello_world_components = make_array("Hello", ",", " ", "world", "!")
separator = ''
hello = separator.join(hello_world_components)
hello

'Hello, world!'

## \t

In [56]:
restaurant_bills = make_array(20.12, 39.90, 31.01)
print("Restaurant bills:\t", restaurant_bills)
tips = .2 * restaurant_bills
print("Tips:\t\t\t", tips)

Restaurant bills:	 [20.12 39.9  31.01]
Tips:			 [4.024 7.98  6.202]