In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [3]:
observed_outcomes = Table.read_table('observed_outcomes.csv')
observed_outcomes.show()

In [5]:
bta = Table.read_table('bta.csv')
bta

Group   | Result
Control | 1
Control | 1
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
Control | 0
... (21 rows omitted)

In [8]:
obs_proportions = bta.group('Group', np.average).column(1)
obs_proportions

array([0.125, 0.6  ])

In [3]:
bta.group('Group')

Group     | count
Control   | 16
Treatment | 15

In [4]:
bta.group('Group', sum)

Group     | Result sum
Control   | 2
Treatment | 9

In [5]:
bta.group('Group', np.average)

Group     | Result average
Control   | 0.125
Treatment | 0.6