In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [4]:
team = make_array('Patriots','Patriots','Patriots','Patriots','Patriots','Patriots','Patriots','Patriots','Patriots','Patriots','Patriots','Colts','Colts','Colts','Colts')
blakeman = make_array(11.5,10.85,11.15,10.7,11.1,11.6,11.85,11.1,10.95,10.5,10.9,12.7,12.75,12.5,12.55)
prioleau = make_array(11.8,11.2,11.5,11,11.45,11.95,12.3,11.55,11.35,10.9,11.35,12.35,12.3,12.95,12.15)

pre_deflategate = Table().with_columns(
    'Team', team,
    'Blakeman', blakeman,
    'Prioleau', prioleau
)
pre_deflategate.to_csv('deflategate.csv')

# Deflategate

In [6]:
football = Table.read_table('deflategate.csv')
football.show()

In [7]:
football = football.drop(1,2).with_column(
    'Combined', (football.column(1)+football.column(2))/2
)

In [9]:
football.show()

In [10]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [12]:
start = np.append(12.5 * np.ones(11), 13 * np.ones(4))
start

array([12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5, 12.5,
       13. , 13. , 13. , 13. ])

In [13]:
drops = start - football.column(1)
drops

array([0.85 , 1.475, 1.175, 1.65 , 1.225, 0.725, 0.425, 1.175, 1.35 ,
       1.8  , 1.375, 0.475, 0.475, 0.275, 0.65 ])

In [14]:
football = football.select('Team').with_column(
    'Drop', drops
)

In [15]:
football.show()

In [16]:
means_tb1 = football.group('Team', np.average)

In [17]:
means_tb1

Team     | Drop average
Colts    | 0.46875
Patriots | 1.20227

In [ ]:
means = means