In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
bta = Table.read_table('bta.csv')
bta.show()

In [3]:
bta.group('Group')

Group     | count
Control   | 16
Treatment | 15

In [4]:
bta.group('Group', sum)

Group     | Result sum
Control   | 2
Treatment | 9

In [5]:
bta.group('Group', np.average)

Group     | Result average
Control   | 0.125
Treatment | 0.6