In [32]:
from datascience import *
import numpy as np

In [33]:
goats = make_array('first goat', 'second goat')
hidden_behind_doors = np.append(goats, 'car')
hidden_behind_doors

array(['first goat', 'second goat', 'car'], dtype='<U11')

In [34]:
def other_goat(goat):
    if goat == 'first goat':
        return 'second goat'
    if goat == 'second goat':
        return 'first goat'

In [35]:
other_goat('first goat')

'second goat'

In [36]:
other_goat('second goat')

'first goat'

In [37]:
other_goat('sheep')

In [38]:
contestant_guess = np.random.choice(hidden_behind_doors)
contestant_guess

'second goat'

In [39]:
def monty_hall_game():
    """return [contestant's guess, revealed, remaining]"""
    contestant_guess = np.random.choice(hidden_behind_doors)
    
    if contestant_guess == 'first goat':
        return ['first goat', 'second goat', 'car']
    elif contestant_guess == 'second goat':
        return ['second goat', 'first goat', 'car']
    elif contestant_guess == 'car':
        revealed = np.random.choice(goats)
        return ['car', revealed, other_goat(revealed)]

In [40]:
monty_hall_game()

['second goat', 'first goat', 'car']

In [41]:
monty_hall_game()

['second goat', 'first goat', 'car']

In [50]:
trials = Table(['guess', 'revealed', 'remains'])
trials

guess | revealed | remains

In [51]:
trials.append(monty_hall_game())
trials

guess      | revealed    | remains
first goat | second goat | car

In [52]:
trials.append(monty_hall_game())
trials.append(monty_hall_game())
trials.append(monty_hall_game())
trials.append(monty_hall_game())
trials

guess       | revealed    | remains
first goat  | second goat | car
car         | first goat  | second goat
first goat  | second goat | car
second goat | first goat  | car
first goat  | second goat | car

In [53]:
for i in np.arange(9995):
    trials.append(monty_hall_game())

In [54]:
trials.pivot('remains', 'guess')

guess       | car  | first goat | second goat
car         | 0    | 1656       | 1669
first goat  | 3320 | 0          | 0
second goat | 3355 | 0          | 0

In [55]:
trials.group('guess')

guess       | count
car         | 3325
first goat  | 3320
second goat | 3355

In [56]:
trials.group('remains')

remains     | count
car         | 6675
first goat  | 1656
second goat | 1669